/* 

Copyright EploreSTEM
Created by David Wakely
https://wakely.ca

*/

/* #region Notes - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/
/* 
Colours
Red = 
Green = 
Blue = 
*/

/*
Fonts

Futura PT Heavy
font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Bold
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Cond Bold
font-family: futura-pt-condensed, sans-serif;
font-weight: 700;
font-style: normal;
*/
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region CSS Over-rides - - - - - - - - - - - - - - - - - - - - - - - - - - */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-family: halyard-display, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

form input {
    border-radius: 2px;
    width: 100%;
}

/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region General CSS  - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    min-height: 100vh;
    background-size: cover;

    /* body Contents */
    display: grid;
    grid-template-columns: 1fr minmax(600px, 1280px) 1fr;
    grid-template-rows: minmax(620px, 1fr) min-content;
}

.app {
    grid-column: 2/3;

    /* .app Contents */
    display: grid;
    grid-template-rows: minmax(200px, 1fr) 1fr minmax(200px, 2fr);
}

/* - - - - - Navigation Block - - - - - */

nav {
    grid-row: 1/3;
    grid-column: 1/-1;
    height: 100%;
    padding: 10px;

    /* Nav Contents */
    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: start;
}

nav img {
    width: 300px;
    object-fit: contain;
}

nav ul {
    margin: 5px;
    margin-right: 100px;
    padding-top: 27px;

    /* UL Contents */
    display: flex;
    justify-content: space-around;
}

nav a {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #0b52bf;
}

nav a:hover {
    color: #216931;
}

/* - - - - - Traditional Hero Section - - - - - */

.calltoaction {
    grid-row: 1 / 3;
    grid-column: 1/-1;
    height: 100%;
    padding: 100px 1em 0;
    
    /* Hero Contents */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content;
    align-content: center;
    grid-template-areas: "b a"
}

.calltoaction > h1 {
    grid-template-columns: 2 / -1;
    font-size: 1.5em;
    grid-area: a;
    color: #216931;
    text-shadow: 1px 1px 5px white;
    text-align: right;
}

.calltoaction > h1 > a {
    background: #0b52bf;
    color: white;
    border-radius: 100px;
    text-align: center;
    text-justify: center;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-shadow: none;
} */

/* - - - - - Main Content Section - - - - - */
main {
    min-height: 200px;
    align-self: center;
}

/* - - - - - Footer - - - - - */
footer {
    grid-column: 2/3;
}

footer > nav {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    justify-content: space-around;
}

footer img {
    width: 150px;
    object-fit: contain;
}

footer > nav > ul {
    padding: 0;
    margin: 0;
}

footer .footerschool {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

footer > p {
    padding: 5px;
    display: flex;
    justify-content: center;
}

/* #endregion  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/

/* #region Home Page Specific - - - - - - - - - - - - - - - - - - - - - - - - */
.home-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/home-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/home-background-explorestem.jpg);
    background-size: cover;
}

.home-page .calltoaction article {
    margin: 1em;
    justify-self: center;
    align-self: end;
    border-radius: 5px;
    /* Temp ? */
    height: 200px;
}

.home-page .calltoaction img {
    height: 100%;
    object-fit: cover;
    object-position: end;
}

.home-page main {
    display: grid;
    grid-template-columns: minmax(25px, 1fr) minmax(25px, 1fr) minmax(25px, 1fr);
    grid-template-rows: min-content;
    grid-gap: 1em;
    margin: 0 1em;
    padding-bottom: 1em;
}

.home-page main > section {
    max-height: 500px;
    background: #efefefb9;
    box-shadow: 6px 6px 6px #0b53bf96;
    padding: 1em;
    border-radius: 5px;
    border-bottom: 1px solid #0b52bf;
    border-right: 1px solid #0b52bf;

    /* General Section Block Contents */
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.home-page section > h3 {
    justify-self: center;
    padding: 1em 0;
}

.home-page section > p {
    justify-self: center;
    padding: 1em 0;
}

.home-page section > a {
    justify-self: center;
    padding: 1em 0;
}


/* - - - - - Home Page Registration Form Stuff - - - - - */
.home-page form {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 3fr;
    grid-gap: .5em;
    margin: 1em 0 0;
}

.home-page #contact-submit {
    grid-column: 1 / -1;
    width: 100%;
    border-radius: 5px;
    color: white;
    background: #0b52bf;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 2em;
    text-transform: uppercase;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region About Page Specific  - - - - - - - - - - - - - - - - - - - - - - - */
.about-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/about-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/about-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region Sponsors Page Specific - - - - - - - - - - - - - - - - - - - - - - */
.sessions-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/sessions-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/sessions-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region Sponsors Page Specific - - - - - - - - - - - - - - - - - - - - - - */
.schedule-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/schedule-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/schedule-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region Sponsors Page Specific - - - - - - - - - - - - - - - - - - - - - - */
.resources-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/resources-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/resources-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region Sponsors Page Specific - - - - - - - - - - - - - - - - - - - - - - */
.sponsors-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/sponsors-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/sponsors-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}

.sponsors-page main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content;
    grid-gap: 1em;
    margin: 0 1em;
    padding-bottom: 1em;
}

.sponsors-page main > section {
    max-height: 500px;
    background: #efefefb9;
    box-shadow: 6px 6px 6px #0b53bf96;
    padding: 1em;
    border-radius: 5px;
    border-bottom: 1px solid #0b52bf;
    border-right: 1px solid #0b52bf;

    /* General Section Block Contents */
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.sponsor-logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 150px);
    justify-content: center;
    padding: 50px 5px;
}

.sponsor-card > img {
    width: 100%;
    object-fit: contain;   
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region Sponsors Page Specific - - - - - - - - - - - - - - - - - - - - - - */
.register-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/register-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.75) 43%,rgba(255,255,255,0.75) 56%,rgba(255,255,255,1) 100%), url(../img/hero/register-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region Sponsors Page Specific - - - - - - - - - - - - - - - - - - - - - - */
.contact-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/contact-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/contact-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}

.contact-page {
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/sponsors-background-explorestem.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,0.65) 43%,rgba(255,255,255,0.65) 56%,rgba(255,255,255,1) 100%), url(../img/hero/sponsors-background-explorestem.jpg);
    background-size: cover;
    background-position: center;
}

.contact-page main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: min-content;
    grid-gap: 1em;
    margin: 0 1em;
    padding-bottom: 1em;
}

.contact-page main > section {
    max-height: 500px;
    background: #efefefb9;
    box-shadow: 6px 6px 6px #0b53bf96;
    padding: 1em;
    border-radius: 5px;
    border-bottom: 1px solid #0b52bf;
    border-right: 1px solid #0b52bf;

    /* General Section Block Contents */
    display: grid;
    grid-template-rows: min-content min-content min-content;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* #region ExploreSTEM span tags to make text appear closer to logo - - - - - */
.explore {
    color: #0b52bf;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.stem {
    color: #216931;
    text-transform: uppercase;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}
/* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

/* - - - - - Media Querries - - - - - */

/* #region * Media Query for Mobile Device in Landscape - - - - - - - - - - - */
@media screen and ( max-height: 399px ) {
    body {
        grid-template-rows: min-content min-content;
    }

    .app {
        grid-template-rows: 85px minmax(200px, 314px);
    }

    main {
        height: 100%;
    }

    .calltoaction {
        display: none;
    }
    nav {
        grid-row: 1 / 2;
        height: 70px;
    }

    nav > ul {
        padding-top: 13px;
    }
    nav img {
        width: 132px;
        object-fit: contain;
    }
 }
 /* #endregion - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -*/