/* 

Copyright EploreSTEM
Created by David Wakely
https://wakely.ca

*/


/* 
Colours
Red = 
Green = 
Blue = 
*/

/*
Fonts

Futura PT Heavy
font-family: futura-pt, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Bold
font-family: futura-pt-bold, sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Cond Bold
font-family: futura-pt-condensed, sans-serif;
font-weight: 700;
font-style: normal;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    font-family: halyard-display, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.app {
    height: 100vh;
    background: white; /* Fallback Background 1 */
    background: url(../img/hero/hans-reniers-746177-unsplash.jpg); /* Fallback Background 2 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 15%,rgba(255,255,255,0) 48%,rgba(255,255,255,0) 66%,rgba(255,255,255,1) 100%), url(../img/hero/hans-reniers-746177-unsplash.jpg);
    background-size: cover;
    display: grid;
    grid-template-rows: minmax(139px, 1fr) 1fr minmax(200px, 2fr);
}

nav {
    grid-row: 1/3;
    grid-column: 1/-1;
    height: 100%;
    padding: 10px;
    /* background: rgba(255, 0, 0, 0.425); */
    display: grid;
    grid-template-columns: min-content 1fr;
    align-content: start;
}

nav > ul {
    margin: 5px;
    padding-top: 27px;
    /* margin-left: auto; */
    display: flex;
    justify-content: space-around;
}

nav a {
    font-family: futura-pt-condensed, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.5em;
    color: #0b52bf;
}

nav a:hover {
    color: #216931;
}

.calltoaction {
    grid-row: 1 / 3;
    grid-column: 1/-1;
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 3.5fr;
    grid-template-rows: min-content min-content;
    grid-template-areas: ". a" ". b";
    /* background: rgba(0, 128, 0, 0.363); */
    align-content: end;
    padding-top: 100px;
    padding: 1em;
}

.calltoaction > h1 {
    grid-template-rows: 2 / -1;
    grid-template-columns: 2/-1;
    font-size: 1.5em;
    grid-area: b;
    color: #216931;
    text-shadow: 1px 1px 5px white;
    text-align: right;
}

.calltoaction > h1 > a {
    grid-area: a;
    background: #0b52bf;
    color: white;
    border-radius: 100px;
    text-align: center;
    text-justify: center;
    font-size: 16px;
    padding: 5px 10px;
    text-transform: uppercase;
    text-shadow: none;
}

main {
    height: 100%;
    /* background: rgba(0, 0, 255, 0.281); */
}

.home-page main {
    display: grid;
    grid-template-columns: minmax(25px, 1fr) minmax(25px, 1fr) minmax(25px, 1fr);
    grid-gap: 1em;
    margin: 0 1em;
    padding-bottom: 1em;
}

.home-page main > section {
    background: #efefefb9;
    box-shadow: 6px 6px 6px #0b53bf96;
    padding: 1em;
    height: 100%;
    border-radius: 5px;
    border-bottom: 1px solid #0b52bf;
    border-right: 1px solid #0b52bf;
}

.home-page form {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 3fr;
    grid-gap: .5em;
    margin: 1em 0;
}

form input {
    border-radius: 2px;
}

.home-page #contact-submit {
    grid-column: 1 / -1;
    width: 100%;
    border-radius: 5px;
    color: white;
    background: #0b52bf;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
    height: 2em;
}

footer > nav {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    justify-content: space-around;
}

footer > nav > ul {
    padding-top: 1em;
}

footer > .footerschool {
    display: flex;
    justify-content: space-around;
}

footer > p {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.explore {
    color: #0b52bf;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.stem {
    color: #216931;
    text-transform: uppercase;
    font-family: futura-pt-bold, sans-serif;
    font-weight: 700;
    font-style: normal;
}

@media screen and ( max-height: 499px ) {
    .app {
        grid-template-rows: minmax(70px, 1fr) 1fr minmax(200px, 2fr);
    }
    .calltoaction {
        display: none;
    }
    nav {
        height: 100%;
    }

    nav > ul {
        padding-top: 13px;
    }
    nav img {
        width: 132px;
        object-fit: contain;
    }
 }